[Unit]
Description=GoPhish Service
After=network.target

[Service]
ExecStart=/opt/gophish
Type=simple
PIDFile=/var/run/gophish
User=gophish
WorkingDirectory=/opt

[Install]
WantedBy=default.target
